# NetBeans
/nbproject/
/nbproject/private/

# Dependencies
/node_modules/

# Local/generated/ignored folders
**/_ignored/
-*

dist
dist-ssr
*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
Thumbs.db
.DS_Store

# Editors / IDEs
.vscode/
!.vscode/extensions.json
.idea/

# Sass
.sass-cache/

# Design/source files
*.xcf
*.ink.svg

# Vendor / local libraries
/src/PHPMailer/

# Secrets
/src/var/secrets.var.inc.php