/* * NombreDeProyecto * ========================================================
   Footer Activators | Custom [/etc/css/custom/act/_footer_act.scss]
   ========================================================================== */

@use "sass:color";
@use "sass:map";
/* // Descripcion ----------------------------------------------------------- */
// Archivo de variables activadoras.
//
// #activator #flexbox #footer


/* // Listado --------------------------------------------------------------- */
// 01 _ $footer_floatedContent_act
//
//
// 01 _ $footer_floatedContent_act
// REF [20]
//
// Activa los if que se encuentran en
// `[/etc/css/custom/_footer.scss]`.
//
// Genera declaraciones para `.logo_footer_container` y `.footer_txt`.
// Deben estar dentro de un contenedor con `.displayFlex`.
//
// Variantes responsive:
// - `_B500`: hasta 500px.
// - `_A500`: desde 501px.
// - `_500O`: desde 501px hasta 767px.
// - `_A600`: desde 601px.
// - `_A768`: desde 768px.
// - `_A1024`: desde 1024px.
//
// Si `_A500` esta activada, el contenido flotado tambien permanece activo
// desde 768px y 1024px. Si `_A768` esta activada, tambien permanece activo
// desde 1024px.



/* // Referencias globales de nombres de variables y mixins ----------------- */
///-- Inicio del nombre
// bd                   = borde
// bg                   = fondo / background
// bx                   = box
// ft                   = fuente
// mq, MQ               = media query @media
// tx                   = texto

///-- Fin del nombre
// _before              = se usa con pseudo-elementos ::before
// _after               = se usa con pseudo-elementos ::after
// _act                 = activacion
// _ani                 = animacion
// _hover               = se usa con pseudo-clases :focus y :hover
// _hs                  = hash
// _imp			= importacion
// _mx                  = mixin
// _var                 = variables

///-- Espaciado
// P, M                 = padding, margin
// T, R, B, L           = top, right, bottom, left
// H, V, A, X           = horizontal, vertical, all, custom defined

///-- Tamanos de Pantalla
// T                    = tablet
// B, A, O, L           = before, after, only, landscape

///-- Colores
// X, L, D              = extra, light, dark
// De, S, B             = desaturated, semi, bright

///-- Fuentes
// T, L, M, R, B, BK    = thin, light, medium, regular, bold, black
// X, S, U, C, I        = extra, semi, ultra, condensed, italic



/* // Logo y direccion flotados --------------------------------------------- */
$footer_floatedContent_act_B500:    off;
$footer_floatedContent_act_A500:    off;
$footer_floatedContent_act_500O:    off;
$footer_floatedContent_act_A600:    off;
$footer_floatedContent_act_A768:      off;
$footer_floatedContent_act_A1024:     off;
